{
  "sourceMaps": true,
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": ["source-map-support"]
    }
  },
  "presets": [
    "@babel/flow",
    "@babel/stage-0",
    [
      "@babel/env",
      {
        "loose": true,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
